*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;  
    font-family: "Playwrite DK Uloopet", cursive;
}

body{
    margin: 0 auto;
}

h2{
    font-size: 30px;
    color: #C38154;
}

/* ----------------------------------------estilos para la seccion del menu---------------------------------------- */
.container_header{
    background-color: #E6B9A6;
}

.container_header img{
    width: 4%;
    border-radius: 50%;
}

.comtainer-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6B9A6;
    padding: 1% 0;

}

.comtainer-nav h1{
    padding-left: 20px;
    font-size: 35px;
}

.comtainer-nav div{
    width: 45%;
}

.comtainer-nav ul li a{
    color: #2F3645;
    font-size: 20px;
    text-decoration: none;
}

/* ----------------------------------------estilos para la seccion del carrusel---------------------------------------- */

.container-carrusel{
    margin-top: 2%;
}
.carousel-inner img{
    object-fit: cover;
    width: 80%;
    height: 700px;
}
.carousel-inner h5{
    color: #000000;
    font-size: 20PX;
    background-color: #baddec;
    margin: 0 41%;

}


/* ----------------------------------------estilos para la seccion de lugares populares---------------------------------------- */


.container-lugares-populares{
    margin-top: 2%;
}

.container-de-lugares{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.item-lugar{
    text-align: center;
}

.item-lugar h3{
    font-size: x-large;
    margin-bottom: 15px;
}
.item-lugar img{
    width: 80%;
    height: 300px;
    object-fit: cover;
}

.item-lugar p{
    padding: 2% 50px;
    font-size: large;
}

/* ----------------------------------------estilos para la seccion de escapadas---------------------------------------- */

.container__item--escapadas h3{
    text-align: center;
    margin: 2%;
    text-decoration: underline;
}

.item-escapadas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-escapadas img{
    width: 60%;
    height: 290px;
    object-fit: cover;
    padding-right: 20px;
    
}

.item-escapadas p{
    width: 70%;
    font-size: 20px;
}

/* ----------------------------------------estilos para la seccion de footer---------------------------------------- */

.container{
    max-width: 1200px;
    margin: 0 auto;
    text-transform: capitalize;
}

.footer{
    background-color: #24262B;
    padding: 80px 0;
    margin-top: 2%;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul{
    padding: 0;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
}

.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}

.social-links a:hover{
    background-color: #00c3ff;
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}


/* ----------------------------------------estilos para la seccion de la pagina de luagares por conocer---------------------------------------- */

.titulo__lugares--porconcer{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
}

.titulo__lugares--porconcer h1{
    font-size: 35px;
}

.titulo__lugares--porconcer p{
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 0;
}

.container__lugares--cba{
    width: 50%;
    margin: 0 auto;
}

.container__lugares{
    text-align: center;
    
    padding-top: 50px;
}

.container__lugares img{
    width: 90%;
    height: 500px;
}

.container__fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
}

.container__fotos img{
    width: 45%;
    height: 250px;
    object-fit: cover;
    padding: 5px;
}

.container__lugares p{
    width: 85%;
    margin: 0 auto;
    padding-top: 15px;
}

.container__lugares span{
    display: block;
    padding-top: 15px;
}

