.container__campings {
    margin: 0 4%;

    h2 {
        margin: 4% 0;
        text-align: center;
    }


    .card{
        @include display-center(flex);
        height: 100%;

        img{
            object-fit: cover;
            padding: 5%;
            height: 250px;
        }
    }
}