.galeria {
    h2 {
        margin: 20px;
        text-align: center;
    }

    p{
        font-size: medium;
        text-align: center;
        margin-bottom: 5%;
    }
}


.container-galeria {
    display: grid;
    grid-template-rows: repeat(1, 250px);
    grid-template-columns: repeat(1, 250px);
    gap: 50px;
    justify-content: center;
    align-items: center;



    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
}