.titulo__lugares--porconcer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 13px;
        margin-top: 3%;
        margin-bottom: 0;
    }
}


.container__lugares--cba {
    .container__lugares {
        text-align: center;

        h3 {
            font-size: large;
            margin: 5%;
        }

        img {
            width: 85%;
            height: 26vh;
        }

        .container__fotos {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5%;

            img {
                width: 44%;
                height: 12vh;
                object-fit: cover;
                padding: 0 3px 0 3px;
            }
        }

        p {
            text-align: left;
            padding-top: 15px;
            font-size: small;
        }

        span {
            display: block;
            padding-top: 15px;
        }
    }
}