@media screen and (min-width: 768px) {

    /* Menu nav */
    .container_header {

        .navbar {

            img {
                width: 7%;
            }

            h1 {
                font-size: 25px;
            }

            .navbar-toggler {
                padding: 1vh;
            }

            .navbar-nav {
                @include display-center(flex);
                flex-direction: row;
            }
        }
    }

    /* Carrousel */
    .container-carrusel {
        .carousel-inner {

            img {
                height: 45vh;
            }

            h5 {
                color: #000000;
                font-size: medium;
                width: 30%;
                margin: 0 35%;
            }
        }
    }


    /* Lugares populares */

    .container__lugares--populares {

        .container-de-lugares {
            .item-lugar {
                h3 {
                    margin-top: 3%;
                }

                img {
                    width: 70%;
                    height: 40vh;
                }

                p {
                    margin: 0 15%;
                }
            }
        }
    }

    /* escapadas */
    .container__escapadas {
        .container__item--escapadas {
            .item-escapadas {
                img {
                    width: 70%;
                    height: 40vh;
                }

                p {
                    width: 70%;
                    margin: 0 auto;
                }
            }
        }
    }

    /* Lugares por conocer */

    .titulo__lugares--porconcer {
        width: 70%;
    }

    .container__lugares--cba {
        .container__lugares {
            h3 {
                font-size: large;
            }

            img {
                width: 60%;
                height: 35vh;
            }

            .container__fotos {
                margin-top: 20px;

                img {
                    width: 30%;
                    height: 18vh;
                }
            }

            p {
                width: 60%;
                margin: 0 auto;
            }
        }
    }


    //campings

    .container__campings {

        .col {
            width: 50%;
        }

    }

    //escapadas por cordoba

    .escapadas {

        .container {
            @include display-center(flex);

            .col-sm-9 {
                width: 100%;

                .col-4 {

                    .col-md-5 {
                        width: 41%;

                        img {
                            height: 232px;
                        }
                    }

                    .col-md-7 {
                        width: 59%;
                    }


                }

            }
        }
    }

    //alojamientos

    .main__alojamiento {

        .alojamientos {
            .container {
                .col-sm-10 {
                    .col-4 {
                        img {
                            height: 220px;
                        }
                    }
                }
            }
        }
    }
}