@media screen and (min-width: 1440px) {

    /* menu */
    .container_header {
        .navbar {
            img {
                width: 4%;
                margin-left: 2%;
            }

            h1 {
                font-size: xx-large;
                margin-left: 1%;
            }
        }

        .navbar-collapse {
            ul {
                padding: 0;

                li {
                    padding: 0 2rem;

                    a {
                        font-size: large;
                    }
                }
            }
        }
    }

    /* Carrusel */

    .container-carrusel {

        .carousel-inner {
            img {
                height: 60vh;
            }
        }
    }

    /* lugares populares */

    .container__lugares--populares {

        h2 {
            margin-left: 0;
            font-size: xx-large;
        }

        .container-de-lugares {
            .item-lugar {
                h3 {
                    font-size: x-large;
                }

                img {
                    height: 30vh;
                }

                p {
                    font-size: medium;
                }
            }
        }
    }

    /* Escapadas */
    .container__escapadas {
        h2 {
            margin-left: 0;
            font-size: xx-large;
        }

        .container__item--escapadas {

            h3 {
                font-size: x-large;
            }

            .item-escapadas {
                img {
                    width: 33%;
                    height: 30vh;
                }

                p {
                    width: 30%;
                    font-size: medium;
                    padding-top: 0;
                }
            }

        }
    }

    /* Lugares por conocer */

    .titulo__lugares--porconcer {
        h1 {
            font-size: xx-large;
        }

        p {
            font-size: large;
        }
    }

    .container__lugares--cba {
        .container__lugares {
            h3 {
                font-size: x-large;
            }

            img {
                width: 60%;
                height: 50vh;
            }

            .container__fotos {
                img {
                    width: 30%;
                    height: 25vh;
                }
            }

            p {
                font-size: medium;
                width: 60%;
            }
        }
    }


    //camping

    .container__campings {

        .row-cols-md-3 {
            .col {
                width: 33%; 
            }
        }
    }


    //Escapadas por cordoba

    .escapadas {    
        .container {
            
            .col-sm-3 {
                width: 15%;
            }
    
            .col-sm-9 {
                width: 85%;
                .col-4{
                    width: 50%;
                }
                
            }
        }
    }

    //alojamientos

    .main__alojamiento {
        .alojamientos {
            .container {

                .col-sm-10 {
                    .col-4 {
                        width: 50%;
                        margin: 0;

                        .col-md-4 {
                            width: 30%;
                        }

                        .col-md-8 {
                            width: 70%;

                            h5{
                                font-size: large;
                            }
                            p{
                                font-size: 15px;
                            }
                        }

                    }
                }
            }
        }
    }
}