@media screen and (min-width: 1920px) {

    /* menu */
    .container_header {
        .navbar {
            .container-fluid {
                width: 90%;
            }

            h1 {
                font-size: 30px;
            }
        }

        .navbar-collapse {
            ul {
                li {
                    padding: 0 3rem;

                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }


    //carrousel

    .container-carrusel {

        .carousel-inner {
            h5 {
                width: 18%;
                margin: 0 41%;
                font-size: x-large;
            }
        }
    }


    /* lugares populares */

    .container__lugares--populares {
        h2 {
            margin-top: 2%;
            margin-left: 3%;
        }

        .container-de-lugares {
            .item-lugar {

                img {
                    height: 35vh;
                }

                p {
                    font-size: 20px;
                    width: 95%;
                }
            }
        }
    }

    /* escapadas */


    .container__escapadas {
        h2 {
            margin-left: 3%;
        }

        .container__item--escapadas {
            .item-escapadas {
                p {
                    font-size: 20px;
                    padding-left: 2rem;
                }

                img {
                    width: 30%;
                    height: 35vh;
                }
            }
        }
    }


    /* lugares por conocer */

    .titulo__lugares--porconcer {
        p {
            width: 80%;
            margin: 0 auto;
            padding-top: 15px;
            font-size: 20px;
        }
    }

    .container__lugares--cba {
        .container__lugares {

            h3 {
                font-size: xx-large;
            }

            img {
                width: 40%;
                height: 50vh;
            }

            .container__fotos {
                img {
                    width: 20%;
                }
            }

            p {
                width: 40%;
                font-size: large;
            }
        }
    }


    /* Escapadas del finde */
    .escapadas {
        .container {
            max-width: 1920px;

            .col-sm-3 {
                width: 13%;

                .col-md-12 {
                    margin-bottom: 5%;
                    margin-right: 12%;
                }
            }

            .col-sm-9 {
                width: 85%;

                .col-4 {

                    .col-md-5 {
                        img {
                            height: 220px;
                        }
                    }
                }
            }
        }

    }


    /* campings */

    .container__campings {
        margin: 0 10%;

        h2 {
            margin: 2% 0;
            text-align: center;
        }

        .row-cols-md-3 {
            .col {
                .card {
                    height: 33em;
                    width: 85%;

                    img {
                        height: 18em;
                    }
                }
            }
        }
    }


    /* estilos para alojamiento */

    .main__alojamiento {
        .alojamientos {
            margin-top: 2%;
            margin: 0 auto;

            h2 {
                margin: 3% 0;
                text-align: center;
            }

            .container {
                max-width: 100%;

                .row {
                    @include display-center(flex);
                }

                .col-sm-2 {
                    width: 10%;
                    border-right: solid 2px #000;

                    .col-md-4 {
                        margin-bottom: 10%;
                        width: 100%;

                        a {
                            text-decoration: none;
                            font-size: medium;
                        }
                    }
                }

                .col-sm-10 {
                    width: 80%;
                    margin-left: 2%;

                    .col-4 {
                        width: 50%;
                        margin: 0;
                        .col-md-4 {
                            width: 35%;
                             img{
                                height: 250px;
                             }

                        }

                        .col-md-8 {
                            width: 65%;


                            h5 {
                                font-size: larger;
                            }

                            p {
                                font-size: 16px;
                            }
                        }

                    }
                }
            }
        }
    }
}