.container-carrusel {
    .carousel-inner {

        img {
            object-fit: cover;
            height: 25vh;
        }

        h5 {
            font-size: large;
            text-align: center;
        }
    }
}