.container-carrusel {
    .carousel-inner {

        img {
            object-fit: cover;
            height: 250px;
        }

        h5 {
            font-size: large;
            text-align: center;
            font-weight: bolder;
            width: 20%;
        }
    }
}