.card-img {
    &:hover {
        border-radius: 25%;
    }
}


.navbar-nav {

    // ------------------------------------------ animacion para la lista del header
    li {

        a {
            display: inline-block;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 3px;
                bottom: 0;
                left: 0;
                background-color: #ffffff;
                transform-origin: bottom right;
                transition: transform 0.35s ease-out;
            }

            &:hover {
                transform: scale(0.9);

                &:after {
                    transform: scaleX(1);
                    transform-origin: bottom left
                }
            }
        }

    }
}



.footer {
    .container__footer {
        .footer-row {
            .footer-links {
                .social-links {
                    a {
                        &:hover {
                            background-color: #00c3ff;
                        }
                    }

                }
            }
        }
    }
}



ul {
    li {
        a {
            &:hover {
                color: #ffffff;
                padding-left: 6px;
            }
        }
    }
}