//map

$t-colores: (
    titulo: #EEEEEE,
    subtitulos: #22A39F,
    header: #00ABB3,
    fondo: #31363F,
    descripcion: #DDE6ED,
    fd: #DDE6ED,

);

@each $name, $color in $t-colores {
    .t-color-#{$name} {
        color: $color;
    }

    .nav-#{$name} {
        color: $color;
    }

    .container_#{$name} {
        background-color: $color;
    }
}


// mixin

@mixin display-center($displays){
    display: $displays;
    justify-content: center;
    align-items: center;
}

    